.detail-page {
  display: flex;
  color: white;
  background-color: black;
}

.title {
  padding: 10px;
  margin: 10px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

.matchDetail {
  display: flex;
  border-radius: 10px;
  border: 1px solid white;
  color: black;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shortNameBox {
  display: flex;
  align-items: center;
}

.shortName {
  font-size: 20px;
}

.teamLogo {
  margin: 8px;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.competition_title {
  margin: 10px;
  font-size: 25px;
}

.venue {
  margin: 20px;
  border-radius: 6px;
  /* border: 2px solid wheat; */
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matchDetailBox {
  margin: 20px;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid wheat; */
  padding: 0px 10px 10px 10px;
}

.stadiumName {
  padding: 8px;
  /* font-size: 15px; */
}

.venueBelowSection {
  display: flex;
  padding: 8px;
  justify-content: space-between;
}

.matchDetailBoxContent {
  padding: 4px;
}
